In [14]:
import pickle as pkl
import numpy as np
import pandas as pd
import json

In [15]:
df = pd.read_pickle("saved_runs/FullRun.pkl--2023.04.21_09.38")
print(df)

    Node_id  Parent_id  Time  \
0         0        NaN     0
1         1        0.0     1
2         2        0.0     1
3         3        0.0     1
4         4        3.0     2
5         5        3.0     2
6         6        2.0     2
7         7        2.0     2
8         8        2.0     2
9         9        1.0     2
10       10        1.0     2
11       11        1.0     2

                                                State  \
0   [[9.457047720301368e-308, 7.565923378692234e-3...
1   [[4.000000500510459, 4.000365294416994], [5.09...
2   [[-8.206176053115048e+41, -1.9059439612092787e...
3   [[4.77233188576065e-05, 1.657678330957424e-05]...
4   [[4.089584054851457, 4.00117177378101], [24.99...
5   [[4.000005479904075, 4.000580640758329], [24.8...
6   [[4.00000164685531, 4.000001754559818], [5.093...
7   [[4.000000500510459, 4.000365294416994], [5.09...
8   [[4.000001447105092, 4.006145479291305], [5.09...
9   [[5.118775854944943, 4.0005386131269915], [27....
10  [[5.118816534544749, 4.000497065468153], [2.22...
11  [[19.036672711372375, 4.000491818600949], [2.2...

                                               Action  Reward
0                                                None       0
1   [2.7145023, -1.04195, 1.9280694, -1.6806135, -...       0
2   [0.45223475, 15.548944, 3.117417, -2.463195, -...       0
3   [0.52265334, 13.550019, 0.7910352, 0.8227477, ...       0
4   [0.6086171, 0.384651, 7.1226726, 0.8139954, -0...       0
5   [-4.4478474, 6.6374164, 10.468822, 7.991503, 2...       0
6   [0.44966403, -2.6188805, 0.29129672, -2.380463...       0
7   [-3.411912, -3.4130108, -3.338205, -1.4915301,...       0
8   [0.67394984, -3.3520942, 0.7787864, -4.2489476...       0
9   [-3.2180462, 12.172471, 3.424215, -1.1942184, ...       0
10  [-1.5238605, -1.6898373, 10.589041, -0.4749928...       0
11  [8.385932, -4.3054132, -3.6398315, -3.379082, ...       0

In [23]:
# dat = {"df": df.to_dict(), "params" : {"hej" : "tja"}}
import os
path = "saved_runs/testSave-fredag"
if not os.path.exists(path):
    os.mkdir(path)
# with open("testSave/testSaveDF.pkl", "w+") as f:
df.to_pickle(f"{path}/testSaveDF.pkl")
    # pkl.dump(obj = df, file = f)
with open(f"{path}/params.json", "w+") as f:
    json.dump({"num" : 12, "maax" : 100}, f)

In [25]:
pd.read_pickle("saved_runs/2023-04-21.0/History.pkl")

,Node_id,Parent_id,Time,State,Action,Reward
0,0,NaN,0,"[[3383.8549814207113, 189297055.7911309], [0.0...",None,0
1,1,0.0,1,"[[4.000000420040578, 4.000023307007723], [2.00...","[-2.4991019, 5.326136, 0.30989826, 1.2112126, ...",0
2,2,0.0,1,"[[4.000000034801811, 4.000000000004407], [32.2...","[1.1645236, 20.820745, 10.028704, 0.5986221, -...",0
3,3,2.0,2,"[[5.165218388073296, 4.000000296053829], [32.2...","[1.751353, -2.3982852, 4.52118, -2.247128, -0....",0
4,4,2.0,2,"[[4.0000146888660275, 4.001872704135936], [32....","[0.08014268, -2.9484768, -0.4265794, 0.2333996...",0
5,5,2.0,2,"[[4.000025618700416, 4.0000001041294], [32.204...","[-2.2600877, -4.019805, 4.2813807, -1.8660129,...",0
6,6,1.0,2,"[[4.000000736955883, 4.007550305881523], [2.00...","[-3.2545335, 2.5076196, 0.8293208, -0.88272583...",0
7,7,1.0,2,"[[4.000002467453669, 4.000023368286207], [11.3...","[2.2793784, 14.0619755, 1.8808489, -1.2680166,...",0

In [2]:
import torch


DEVICE = "cuda"

AssertionError: Torch not compiled with CUDA enabled

: